In [62]:
import pandas as pd

In [63]:
claus = pd.read_csv("data/claustro.csv",sep = ";")

In [64]:
clase1=pd.read_csv("data/clase_1.csv", sep =";")

In [65]:
clase2=pd.read_csv("data/clase_2.csv", sep =";")

In [66]:
clase3=pd.read_csv("data/clase_3.csv", sep =";")

In [67]:
clase4=pd.read_csv("data/clase_4.csv", sep =";")

In [68]:
total_clases= pd.read_csv("data/total_clases.csv")

In [69]:
claus.head()

              Nombre Rol Vertical   Promocion    Campus   Modalidad
0          Noa Yáñez  TA       DS  Septiembre    Madrid  Presencial
1  Saturnina Benitez  TA       DS  Septiembre    Madrid  Presencial
2         Anna Feliu  TA       FS  Septiembre    Madrid  Presencial
3      Rosalva Ayuso  TA       FS  Septiembre  Valencia  Presencial
4   Ana Sofía Ferrer  TA       FS     Febrero  Valencia  Presencial

------------------

--------------------------

In [70]:
total_clases.drop(columns="Unnamed: 0",inplace=True)

In [71]:
total_clases.head()

,Nombre,Email,Promoción,Fecha_comienzo,Campus,Proyecto,Calificación
0,Jafet Casals,Jafet_Casals@gmail.com,Septiembre,18/09/2023,Madrid,Proyecto_HLF,Apto
1,Jorge Manzanares,Jorge_Manzanares@gmail.com,Septiembre,18/09/2023,Madrid,Proyecto_HLF,Apto
2,Onofre Adadia,Onofre_Adadia@gmail.com,Septiembre,18/09/2023,Madrid,Proyecto_HLF,Apto
3,Merche Prada,Merche_Prada@gmail.com,Septiembre,18/09/2023,Madrid,Proyecto_HLF,Apto
4,Pilar Abella,Pilar_Abella@gmail.com,Septiembre,18/09/2023,Madrid,Proyecto_HLF,Apto

-------------------

# **TABLAS**

1. **ALUMNOS**

In [72]:
alumnos = pd.DataFrame({"Nombre": total_clases["Nombre"].unique(),"Email":total_clases["Email"].unique()})
alumnos.insert(0, 'id_alumnos', range(1, len(alumnos) + 1))

In [73]:
alumnos.head()

   id_alumnos            Nombre                       Email
0           1      Jafet Casals      Jafet_Casals@gmail.com
1           2  Jorge Manzanares  Jorge_Manzanares@gmail.com
2           3     Onofre Adadia     Onofre_Adadia@gmail.com
3           4      Merche Prada      Merche_Prada@gmail.com
4           5      Pilar Abella      Pilar_Abella@gmail.com

-------------------------

2. **VERTICALES**

In [74]:
verticales= pd.DataFrame({"Nombre":claus["Vertical"].unique()})
verticales.insert(0, 'id_verticales', range(1, len(verticales) + 1))

In [75]:
verticales.head()

   id_verticales Nombre
0              1     DS
1              2     FS

-----------------------------------

3. **CAMPUS**

In [76]:
campus= pd.DataFrame({"Nombre":total_clases["Campus"].unique()})
campus.insert(0, 'id_campus', range(1, len(campus) + 1))

In [77]:
campus.head()

   id_campus    Nombre
0          1    Madrid
1          2  Valencia

-----------------------

4. **CLAUSTRO**

In [78]:
claustro1=pd.DataFrame({"nombre":claus["Nombre"],"vertical":claus["Vertical"],"Rol":claus["Rol"]})
claustro1.insert(0, 'id_profesor', range(1, len(claustro1) + 1))

In [79]:
claustro = pd.merge(claustro1, verticales, left_on='vertical', right_on='Nombre', how='left')
claustro= claustro.loc[:,["id_profesor","nombre","id_verticales","Rol"]]
claustro

   id_profesor              nombre  id_verticales Rol
0            1           Noa Yáñez              1  TA
1            2   Saturnina Benitez              1  TA
2            3          Anna Feliu              2  TA
3            4       Rosalva Ayuso              2  TA
4            5    Ana Sofía Ferrer              2  TA
5            6     Angélica Corral              2  TA
6            7         Ariel Lledó              1  TA
7            8         Mario Prats              2  LI
8            9   Luis Ángel Suárez              2  LI
9           10  María Dolores Diaz              1  LI

-------------------------------

5. **MODALIDAD**

In [80]:
claus['Modalidad'] = claus['Modalidad'].replace({'Presencial': True, 'Online': False})#cambiamos a bool los datos

C:\Users\UX490U\AppData\Local\Temp\ipykernel_2892\1859943582.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  claus['Modalidad'] = claus['Modalidad'].replace({'Presencial': True, 'Online': False})#cambiamos a bool los datos

In [81]:
modalidad=pd.DataFrame({"Presencial":claus['Modalidad'].unique()})
modalidad.insert(0, 'id_modalidad', range(1, len(modalidad) + 1))
modalidad['FullTime'] = [True,False]

In [82]:
modalidad.loc[2]=[3,True,False]

In [83]:
modalidad.loc[3]=[4,False,True]

In [84]:
modalidad

   id_modalidad  Presencial  FullTime
0             1        True      True
1             2       False     False
2             3        True     False
3             4       False      True

----------------------------

6. **PROYECTOS**

In [85]:
vertical_rules = {
    "FS": ['Proyecto_WebDev', 'Proyecto_FrontEnd', 'Proyecto_Backend', 
           'Proyecto_React', 'Proyecto_FullSatck'],
    "DS": ['Proyecto_HLF', 'Proyecto_EDA', 'Proyecto_BBDD', 'Proyecto_ML',
       'Proyecto_Deployment']
}#si hay nuevos proyectos o nuevas verticales solo añadimos al diccionario

In [86]:
def asignar_vertical(proyecto):
    for vertical, proyectos in vertical_rules.items():
        if proyecto in proyectos:
            return vertical
    return 'Desconocido'

In [87]:
total_clases["Vertical"] = total_clases["Proyecto"].apply(asignar_vertical)

In [88]:
proyectos1 = total_clases.groupby("Proyecto")["Vertical"].unique().reset_index()
proyectos1["Vertical"] = proyectos1["Vertical"].str[0]#quitar corquetes de las listas generadas [DS]
proyectos1.insert(0, 'id_proyecto', range(1, len(proyectos1) + 1))

In [89]:
proyectos = pd.merge(proyectos1, verticales, left_on='Vertical', right_on='Nombre', how='left')
proyectos= proyectos.loc[:,["id_proyecto","Proyecto","id_verticales"]]
proyectos

   id_proyecto             Proyecto  id_verticales
0            1        Proyecto_BBDD              1
1            2     Proyecto_Backend              2
2            3  Proyecto_Deployment              1
3            4         Proyecto_EDA              1
4            5    Proyecto_FrontEnd              2
5            6   Proyecto_FullSatck              2
6            7         Proyecto_HLF              1
7            8          Proyecto_ML              1
8            9       Proyecto_React              2
9           10      Proyecto_WebDev              2

---------------------------

7. **BOOTCAMP**

In [112]:
bootcamp1=pd.DataFrame({"Promocion":total_clases["Promoción"],"F_comienzo":total_clases["Fecha_comienzo"],
                        "campus":total_clases["Campus"],"vertical":total_clases["Vertical"]})

In [117]:
bootcamp= pd.merge(bootcamp1, verticales, left_on='vertical', right_on='Nombre', how='left')
bootcamp= pd.merge(bootcamp, campus, left_on='campus', right_on='Nombre', how='left')
bootcamp=bootcamp.loc[:,["Promocion","F_comienzo","id_campus","id_verticales"]]
bootcamp["id_modalidad"]=modalidad.iloc[0,0]
bootcamp=bootcamp.drop_duplicates(["Promocion","F_comienzo","id_campus","id_modalidad","id_verticales"]).reset_index()
bootcamp.insert(0, 'id_bootcamp', range(1, len(bootcamp) + 1))

In [121]:
bootcamp.drop(columns="index",inplace=True)

In [122]:
bootcamp

   id_bootcamp   Promocion  F_comienzo  id_campus  id_verticales  id_modalidad
0            1  Septiembre  18/09/2023          1              1             1
1            2     Febrero  12/02/2024          1              1             1
2            3  Septiembre  18/09/2023          1              2             1
3            4     Febrero  12/02/2024          2              2             1

-------------------------------

8. **CALIFICACIONES**

In [93]:
total_clases["Calificación"] = total_clases["Calificación"] .replace({'Apto': True, 'No Apto': False})#cambiamos a bool los datos

C:\Users\UX490U\AppData\Local\Temp\ipykernel_2892\440748375.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  total_clases["Calificación"] = total_clases["Calificación"] .replace({'Apto': True, 'No Apto': False})#cambiamos a bool los datos

In [94]:
calificaciones1=pd.DataFrame({"nombre_alumnos":total_clases["Nombre"],"nombre_proyecto":total_clases["Proyecto"],"Nota":total_clases["Calificación"]})
calificaciones1.insert(0, 'id_calificaciones', range(1, len(calificaciones1) + 1))

In [95]:
calificaciones= pd.merge(calificaciones1, alumnos, left_on='nombre_alumnos', right_on='Nombre', how='left')
calificaciones= pd.merge(calificaciones, proyectos, left_on='nombre_proyecto', right_on='Proyecto', how='left')
calificaciones=calificaciones.loc[:,["id_calificaciones","id_alumnos","id_proyecto","Nota"]]

In [96]:
calificaciones.head()

   id_calificaciones  id_alumnos  id_proyecto  Nota
0                  1           1            7  True
1                  2           2            7  True
2                  3           3            7  True
3                  4           4            7  True
4                  5           5            7  True

-----------------

9. **ALUMNOS_CLASE**

In [125]:
total_clases.head()

,Nombre,Email,Promoción,Fecha_comienzo,Campus,Proyecto,Calificación,Vertical
0,Jafet Casals,Jafet_Casals@gmail.com,Septiembre,18/09/2023,Madrid,Proyecto_HLF,True,DS
1,Jorge Manzanares,Jorge_Manzanares@gmail.com,Septiembre,18/09/2023,Madrid,Proyecto_HLF,True,DS
2,Onofre Adadia,Onofre_Adadia@gmail.com,Septiembre,18/09/2023,Madrid,Proyecto_HLF,True,DS
3,Merche Prada,Merche_Prada@gmail.com,Septiembre,18/09/2023,Madrid,Proyecto_HLF,True,DS
4,Pilar Abella,Pilar_Abella@gmail.com,Septiembre,18/09/2023,Madrid,Proyecto_HLF,True,DS

In [123]:
bootcamp

   id_bootcamp   Promocion  F_comienzo  id_campus  id_verticales  id_modalidad
0            1  Septiembre  18/09/2023          1              1             1
1            2     Febrero  12/02/2024          1              1             1
2            3  Septiembre  18/09/2023          1              2             1
3            4     Febrero  12/02/2024          2              2             1